@import './mitchell-domes.css';

.App {
    background: var(--color-bg);
    height: 100%;
}

.container {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.home-row {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.home-left {
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  height: auto;
  width: 75%;
  padding-right: 25rem;
}

.home-right {
  display:flex;
  flex-direction:column;
  align-items:flex-end;
  justify-content:center;
  height: 100%;
  width: 50%;
}